# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
dist/

# idea
.idea/

.vscode/

# db
*.sqlite3

migrations/
!migrations/__init__.py
fabfile.py
media/

.mypy_cache/